/* Sujal patel 8909298*/
body{
    font :normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(154, 82%, 49%, 0.35);
}
h2{
    color: #fc9;
    font-size: 2em;
}